<!doctype html>
<html lang="en">
<head>						<!-- Initialize head content & external links -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet&ndash;Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>								<!-- Body Content -->
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="index.html">Pet Finder</a>
		<link rel="links.html">
		<ul class="pure-menu-list"> <!-- Links to other pages -->
			<li class="pure-menu-item"><a href="index.html" class="pure-menu-link"><b>Home</b></a></li>
			<li class="pure-menu-item"><a href="questionnaire.html" class="pure-menu-link"><b>Questionnaire</b></a></li>
			<li class="pure-menu-item"><a href="browse.html" class="pure-menu-link"><b>Browse</b></a></li>
			<li class="pure-menu-item"><a href="signup.html" class="pure-menu-link"><b>Sign Up</b></a></li>
			<li class="pure-menu-item"><a href="signin.html" class="pure-menu-link"><b>Sign In</b></a></li>
			<li class="pure-menu-item"><a href="profile.php" class="pure-menu-link"><i class="fa fa-user-circle"></i><b> My Profile</b></a></li>
		</ul>
    </div>

	<div class="splash-container"> <!-- Main Content, with Splash Page Effect -->
		<div class="splash">
			<h1 class="splash-head">Pet-Finder</h1>
			<p><a href="signup.html" class="pure-button pure-button-primary"><b>Get Started</b></a></p>
			<h2 class="splash-subhead"><b>Scroll Down for More Details</b></h2>
		</div>
	</div>

	<div class="content-wrapper" style="background: #9FE5FF;"> <!-- Description of Site -->
		<div>
			<h2 class="is-center"><b>Common Questions</b></h2>
			<div class="pure-g">
				<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<h3 class="content-subhead"><i class="fa fa-rocket"></i>What is this for?</h3>
						<h4>
							This is for users to easily search for their preferred breed of cats and/or dogs they are looking to adopt
						</h4>
				</div>
				<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<h3 class="content-subhead"><i class="fa fa-check-square-o"></i>How to filter the search?</h3>
						<h4>
							The questionnaire page serves as a way for users to filter the cat/dog search results, they answer based on personality, living conditions, and their wants.
						</h4>
				</div>
				<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<h3 class="content-subhead"><i class="fa fa-server"></i>Where to view all pets?</h3>
						<h4>
							Users can also browse our database, which contains descpriptions of specific cat/dog breeds and where they can adopt them.
						</h4>
				</div>
				<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<h3 class="content-subhead"><i class="fa fa-user"></i>Why Sign up?</h3>
						<h4>
							Signing up grants the user the ability to add animal breeds to the database, this is mainly for adoption agencies to use.
						</h4>
				</div>
			</div>
		</div><br><br>
		
		<div class="footer l-box is-center">
			CSC 4110/1 Group Project - Pet Finder
		</div>
	</div>
</body>
</html>