{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>

<head>
<title>{{ context.title }}</title>
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/login_style.scss" %}" />
{% endcompress %}

</head>
<body>
<form  method="post">
	{% csrf_token %}
  <h1>CSS ONLY site Login</h1>
  {{ formset.management_form }}
  {% for form in formset %}
  	{% for field in form %}
  		{{ field }}
	{% endfor %}
  {% endfor %}
  <button type="submit">Submit</button>
</form> 


</body>