{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>

<head>
<title>{{ context.title }}</title>
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/login_style.scss" %}" />
{% endcompress %}

</head>
<body>
<form  method="post">
	{% csrf_token %}
  <h1>PetFinder Register</h1>
<!-- TODO: double check with negative testing to confirm working fine -->
  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> We have an Issue!</h4>
    {{ form.non_field_errors }}
          <ul>
            {% for field in form %}
              {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
          </ul>
  </div>
  {% endif %}

  {{ formset.management_form }}
  {% for form in formset %}
  	{% for field in form %}
  		{{ field.label_tag }} {{ field }}
	{% endfor %}
  {% endfor %}
  <button type="submit">Submit</button>
</form> 

<a href="#" class="text-center"></a>
</body>