{% extends "app/base.html" %}
{% load static %}

{% block content_wrapper %}

								<!-- Profile Pic -->
<div style="background: #9FE5FF;">
	<div><a><img src="{% static 'img/flower.jpg' %}" style="position: absolute; margin-top: 5%; margin-left: 5%;"></a></div> <!-- Temporary Image Linked, this will be this user's profile image from database -->
		<div class="is-center"> <!-- Profile Content -->
			<br><br><h1><b><i class="fa fa-user-circle"></i> My Profile</b></h1>
			<h2><b>Name: </b></h2>
			<textarea readonly rows="1" cols="35" >Placeholder Text</textarea><br><br>
			<h2><b>Agency Location: </b></h2>
			<textarea readonly rows="1" cols="40" >Placeholder Text</textarea><br><br>
			<h2><b>Contact Info: </b></h2>
			<textarea readonly rows="1" cols="35" >Placeholder Text</textarea><br><br>
			<h2><b>About Me: </b></h2>
			<textarea readonly rows="5" cols="65" maxlength="500">Placeholder Text</textarea><br><br>
			<button class="pure-button"><a href="updProfile.html" style="text-decoration: none; color: white;">Edit</a></button>
	</div>

	<div class="footer l-box is-center">
		CSC 4110/1 Group Project - Pet Finder
	</div>
</div>
{% endblock %}