{% extends "app/base.html" %}
{% load static %}

{% block content_wrapper %}

								<!-- Profile Pic -->
<div style="background: #9FE5FF;">
	<div><a><img src="{% static 'img/flower.jpg' %}" style="position: absolute; margin-top: 5%; margin-left: 5%;"></a></div> <!-- Temporary Image Linked, this will be this user's profile image from database -->
		<div class="is-center"> <!-- Profile Content -->
			<br><br><h1><b><i class="fa fa-user-circle"></i> My Profile</b></h1>
			<h2><b>Name: </b></h2>
			<textarea readonly rows="1" cols="35" >Placeholder Text</textarea><br><br>
			<h2><b>Agency Location: </b></h2>
			<textarea readonly rows="1" cols="40" >Placeholder Text</textarea><br><br>
			<h2><b>Contact Info: </b></h2>
			<textarea readonly rows="1" cols="35" >Placeholder Text</textarea><br><br>
			<h2><b>About Me: </b></h2>
			<textarea readonly rows="5" cols="65" maxlength="500">Placeholder Text</textarea><br><br>
			<button class="pure-button"><a href="{% url 'profileManager:updateProfile' %}" style="text-decoration: none; color: white;">Edit</a></button>
            <button class="pure-button"><a href="{% url 'petManager:addPet' %}" style="text-decoration: none; color: white;">Add Pet</a></button><br>

            <H2><b> Your Pets! </b></H2>

            {% for pet in addpet %}
            <p>

            {{ pet.animal }}
            {{ pet.breed }}
            {{ pet.name }}
            {{ pet.color }}
            <hr>

            </p>


            {% endfor %}

	</div>




</div>
{% endblock %}